body {
    margin: 0px auto;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h-text {
    color: #993300;
}

.container {
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px #ccc;
    background: #F8F6F8;
}



.method {
    color: #666;
}

.variable {
    color: #111;
}
